.ComponentsItem {
	flex: 0 0 auto;
  width: 33.333%;
	padding: 1rem;

	> h2 > a {
		padding-left: 0;
		padding-right: 0;
	}

	.description {
		text-align: justify;

		> a {
			text-transform: none;
		}
	}
	.meta {

	}
}
